body{
    background-color: lightgray;
}
.bodysize{
    background-color: azure;
    max-width: 1080px;
    margin: auto;   
}

header img{

    width:1080px;
    position: relative;
    border: none;

}

.centered{
    color: blue;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav a{
    display: inline-block;
    width:300px;
    border-right: 1px solid black;
    text-align: center;
    text-decoration: none;
}

nav a:last-child{
    border-right: none;
}

.image-wrapper {
    width: auto;
}

img {
    width: 300px;
    float: left;
    margin:10px;
}

.clearfix::after{
    contain: "";
    display: block;
    clear: left;
    background-color: blue;
}

div.form{
    border: 1px solid black;
}

footer{
    text-align: right;
}