body{
    background-color: lightgray;
}
.bodysize{
    background-color: azure;
    max-width: 1080px;
    margin: auto;   
}

header img{

    width:1080px;
    position: relative;
    border: none;

}

h1.centered {
    position: absolute;
    top: 40%; /* Vertically center the heading */
    left: 50%; /* Horizontally center the heading */
    transform: translate(-50%, -50%); /* Adjust for centering */
    color: white; /* Customize the text color */
    background-color: transparent; /* Add a semi-transparent background */
    padding: 10px; /* Add some padding for readability */
}

nav a{
    display: inline-block;
    width:350px;
    border-right: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a:last-child{
    border-right: none;
}

.image-wrapper {
    width: auto;
}

.image-wrapper img {
    width: 300px;
    float: left;
    margin:10px;
}

.clearfix::after{
    contain: "";
    display: block;
    clear: left;
    background-color: blue;
}

div.form{
    border: 1px solid black;
    margin: 10px;
}

textarea{
    width: 1000px;
}

footer{
    text-align: right;
}