body{
    max-width: 1200px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 12px;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

h1,h2,h3,h4,p,main a{
    margin-left: 10px;
    margin-bottom: 20px
    
}

h2,h3,p,main a{
    padding-bottom: 10px;
}
.logo{
    background-color: #C78B07;
}
nav {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0;
}


nav a{
    display: block;
    padding: 20px;
}


nav a:hover{
    color:black   
}

nav a:active,nav a:visited{
    background-color: #C78B07;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: #C78B07;
}


nav form{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

nav .search {
    padding-right: 10px; /* Space from the right edge */
    padding-left: 10px;
}

/* Style the search input */
nav input[type="text"] {
    padding: 5px;
    width: 88%;
    margin-right: 0;
}

/* Style the search button */
nav button {
    background: none;
    border: 1px solid #C78B07;
    padding: 5px;
    color: #C78B07;
    cursor: pointer;
    width: 31px;
}

main{
    margin-top: 0;
}

.home{
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.home>div{
    background-color: rgba(0, 0, 0, 0.5);
    height: 70%;
    align-self: center;
    padding-top: 30px;
}


main .button{
    box-sizing: border-box;
    width: 300px;
    background-color: #C78B07;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.home h1, .home p {
    color: white;
}

.about{
    background-color: #FFE6AC;
}
.about img{
    width: calc(100% - 20px) ;
    padding: 10px;
}
.services{
    width: 100%;
}

.digital,.marketing,.video,.web,.print{
    background-color: #FFE6AC;
    width: calc(100% - 20px) ;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.digital img,.marketing img,.video img,.web img,.print img{
    width: 100%;
    margin-bottom: 10px;
}

.vision{
    color: white;
    background-image: url("../images/vision.jpg");
    width: 100%;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

main .black-button{
    background-color: #222222;
    color: white;
}

.vision .button{
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.5px solid #C78B07;
    color: white;
}

.team .john, .team .bob{
    background-color: #FFE6AC;
    width: calc(100% - 20px) ;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.john img, .bob img{
    width: 100%;  
}

 hr{
    border-top: 3px solid orange;
}

.form form input{
    width: calc(100% - 10px);
    margin: auto;
}

textarea{
    width: calc(100% - 10px);
    height: 95px;
    margin: auto;
}

.form .send{
    background-color: #222222;
    color: #C78B07;
    width: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

table{
    width: calc(100% - 10px);
    margin: auto;
}

table ,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: #FFE6AC;
}

iframe{
    width: calc(100% - 10px);
    height: 400px;
    margin: auto;
}

.digital{grid-area: dt;}
.marketing{grid-area: mk;}
.video{grid-area: vd;}
.web{grid-area: wd;}
.print{grid-area: pt;}
.services h2{grid-area: h2;}


@media screen and (min-width: 760px){

    .big-nav{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        background-color: #222222;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav form{
        display: flex;
        flex-direction: row;
        height: 30px;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .about img{
       width: 400px; 
       height: 240px;
    }

    .about .details{
        width: 500px;
    }

    .services{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: "h2 h2 h2 . . ."
                             "dt dt dt mk mk mk"
                             "vd vd wd wd pt pt";
        grid-gap: 5px 5px;
        justify-content: space-between;
    }

}


/*
.details{
    background-color: yellowgreen;
}

.john{
    grid-area:jo;
    display: flex;
}

.bob{
    grid-area: b0;
    display: flex;
    flex-direction: row-reverse;
} 


.bob img, .bob .details,.john img, .john .details{
    flex-basis: 50% ;
    
}
.team{
    display: flex;
    flex-direction: column;
    
}




input[type="submit"] {
    background: black;
    color: green;
  } */