body{                  /*General body styles - Sets max width, center alignment, and font properties for the body. */
    max-width: 1200px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

p{
    font-size: 16px;
}

h3{
    font-size: 22px;
    font-weight: bold;
}

h1,h2,h3,h4,p,main a{
    margin-left: 10px;
    margin-bottom: 20px
    
}

h2,h3,p,main a{
    padding-bottom: 10px;
}
.logo{
    background-color: #C78B07;
}
nav {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0;
}


nav a{
    display: block;
    padding: 20px;
}


nav a:hover{
    background-color: #C78B07;
    color:black   /* Changes text color on hover for navigation links */
}

nav a:active,nav a:visited{
    background-color: #C78B07;  /*Sets background color for active and visited navigation links.*/
}

nav a{
    text-align: center;
    text-decoration: none;
    color: #C78B07;
}


nav form{
    display: flex;   /* Sets flexbox properties for the navigation form*/
    flex-direction: row;
    padding: 0;
    margin: 0;
}

nav .search {
    padding-right: 10px; /* Space from the right edge */
    padding-left: 10px;
}

/* Style the search input */
nav input[type="text"] {
    padding: 5px;
    width: 88%;
    margin-right: 0;
}

/* Style the search button */
nav button {
    background: none;
    border: 1px solid #C78B07;
    padding: 5px;
    color: #C78B07;
    cursor: pointer;
    width: 31px;
}

main{
    margin-top: 0;
}

.home{
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
    height: 50vh;
    width: 100%;
    align-content: center;
}

.home>div{
    background-color: rgba(2, 2, 2, 0.5); 
    height: 70%;
    align-self: center;
    padding-top: 30px;

}

/*styling all the buttons in the main container*/
main .button{
    box-sizing: border-box;
    width: 300px;
    background-color: #C78B07;
    padding: 15px;
    text-decoration: none;
    color: #222222;
}

.home h1, .home p {
    color: white;
}

.about{
    background-color: #FFE6AC;
}
.about img{
    width: calc(100% - 20px) ;
    padding: 10px;
}
.services{
    width: 100%;
}

/* Service item styles - Applies a consistent background color, calculates width to maintain consistent spacing, centers items horizontally, and sets margins and padding for a clean layout */

.digital,.marketing,.video,.web,.print{
    background-color: #FFE6AC;
    width: calc(100% - 20px) ;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.digital img,.marketing img,.video img,.web img,.print img{
    width: 100%;
    margin-bottom: 10px;
}

.vision{
    color: white;
    background-image: url("../images/vision.jpg");
    width: 100%;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

main .black-button{
    background-color: #222222;
    color: white;
}

.vision .button{
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.5px solid #C78B07;
    color: white;
}

.team .john, .team .bob{
    background-color: #FFE6AC;
    width: calc(100% - 20px) ;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.john img, .bob img{
    width: 100%;  
}

 hr{
    border-top: 3px solid orange;
}

.form form input{
    width: calc(100% - 10px);
    margin: auto;
}

textarea{
    width: calc(100% - 10px);
    height: 95px;
    margin: auto;
}

.form .send{
    background-color: #222222;
    color: #C78B07;
    width: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

table{
    width: calc(100% - 10px);
    margin: auto;
}

table ,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: #FFE6AC;
}

iframe{
    width: calc(100% - 10px);
    height: 400px;
    margin: auto;
}

footer{
    background-color: #222222;
    color: #C78B07;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    box-sizing: border-box;
    
}

table{
    height: 100px;
    margin-bottom: 10px;
}

.digital{grid-area: dt;}
.marketing{grid-area: mk;}
.video{grid-area: vd;}
.web{grid-area: wd;}
.print{grid-area: pt;}
.services h2{grid-area: h2;}


.john img{grid-area: ji;}
.john .details{grid-area: jd;}
.bob img{grid-area: bi;}
.bob .details{grid-area: bd;}

.contact{grid-area:ct;}
.location{grid-area:lc;}
.form{grid-area:fr;}
.table{grid-area:tl;}




@media screen and (min-width: 760px){

    /* Adjusts the navigation bar to a horizontal layout for wider screens */
    .big-nav{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        background-color: #222222;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Aligns navigation links in a row with space around them for larger screens */
    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    /* Styles the form within the navigation to align items in a row */
    nav form{
        display: flex;
        flex-direction: row;
        height: 30px;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    /* Sets the home section's background image and dimensions for larger screens */
    .home{
        background-image: url("../images/main-banner.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: cover;
        height: 60vh;
        width: 100%;
        align-content: center;
    }

    /* Styles the div inside the home section for a centered and semi-transparent overlay */
    .home>div{
        background-color: rgba(2, 2, 2, 0.5);
        width: 85%;
        height: 70%;
        margin: auto;
        align-self: center;
        padding-top: 30px;
    
    }

     /* Applies a flexbox layout to the about section for better alignment and spacing */
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    /* Adjusts the size of the image in the about section */
    .about img{
       width: 400px; 
       height: 240px;
    }

    /* Sets the width for the details div in the about section */
    .about .details{
        width: 500px;
    }


    /* Converts the services section into a grid layout for organizing service items */
    .services{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: "h2 h2 h2 . . ."
                             "dt dt dt mk mk mk"
                             "vd vd wd wd pt pt";
        grid-gap: 0px 0px;
        justify-content: space-between;
    }

    /* Centers the button within the services section and adjusts padding for alignment */
    .services .button{
        align-content: center;
        justify-content: center;
        padding-left: 150px;
        padding-right: 120px;
        margin: auto;
        margin-left: 10px;
    }

     /* Specific button padding adjustments for the video service item */
    .video .button{
        padding-left: 144px;
    }

    /* Specific button padding adjustments for the digital service item */
    .digital .button{
        padding-left: 230px;
        padding-right: 229px;
    }

    /* Specific button padding adjustments for the marketing service item */
    .marketing .button{
        padding-left: 215px;
        padding-right: 215px;
    }
    

    /* Styles the vision section to have a centered background and fixed height */
    .vision{
        height:250px;
        align-content: center;
        background-size: cover;
        background-position: center;
    }

     /* Sets a grid layout for the john team member section */
    .john{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "ji jd";

    }
    
     /* Sets a grid layout for the BoB team member section */
    .bob{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "bd bi";
    } 

    /* Applies a columnar flex layout to the team section for organizing team members */
    .team{
        display: flex;
        flex-direction: column;
        

    }

    /* Sets a grid layout for the aside section to organize its content */
    aside {
    aside{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "ct ct . ."
                             "fr fr lc lc"
                             "tl tl tl tl"
    }
    
    

}

